client/node_modules/
client/dist
client/build
client/npm-debug.log*
client/package-lock.json

server/.env
server/.env.local
server/node_modules/
server/npm-debug.log*
server/package-lock.json

.DS_Store
Thumbs.db